{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "scss$"
        ]
      }
    ],
    [
      "transform-assets",
      {
        "extensions": [
          "txt",
          "svg",
          "png",
          "jpg",
          "jpeg"
        ],
        "regExp": ".*/static/(.+)",
        "name": "/static/images/[name].[ext]?[sha512:hash:base64:7]"
      }
    ],
  ],
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss",
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "ignore": []
}